/* index.css */
.nav-container {
  display: flex;
  justify-content: space-between;
  /* Distribute content evenly */
  align-items: center;
  background: rgb(20, 19, 19);
  padding: 10px;
}

.nav {
  display: flex;
  align-items: flex-start;
}

.nav-link {
  margin: 0 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: background-color 0.2s ease-in-out;
}

.nav-link:hover {
  background-color: rgba(241, 240, 240, 0.1);
}

.nav-title {
  color: white;
  font-size: 24px;
  /* Adjust the font size as needed */
}



/*registration*/

.registration-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.error-message {
  color: red;
}

form div {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.signup-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signup-button:hover {
  background-color: #0056b3;
}



/*log in */

.login-container {
  width: 100%;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.error-message {
  color: red;
}

.input-container {
  margin-bottom: 10px;
}

.login-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #0056b3;
}

.register-link {
  margin-top: 10px;
}

/*posts*/




.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.h1-post {
  text-align: center;
}

.add-post-button {
  background-color: #3498db;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 20px;
  transition: background-color 0.3s;
  display: inline-block;
}

.add-post-button:hover {
  background-color: #2980b9;
}


/*newlistingform*/


.h1-add{
text-align: center
}

.form-container h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #3498db;
  font-family: 'Arial', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  max-width: 400px;
  margin: 0 auto;
}

.form-container label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-container input,
.form-container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.form-container textarea {
  resize: vertical;
}

.form-container button {
  background-color: #3498db;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-container button:hover {
  background-color: #2980b9;
}


/*home*/

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1561715276-a2d087060f1d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.welcome-message {
  font-size: 40px;
  color: #fff;
  margin-bottom: 20px;
}

.profile-button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.emphasized {
  font-weight: bold;
  color: rgb(46, 30, 220);
 
}


/*posts*/
.button-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-link:hover {
  background-color: #0056b3;
}

.delete {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff2a00;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete:hover {
  background-color: #ed6009;
}


.posts-container {
  max-width: 1550px;
  margin: 0 auto;
  padding: 20px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.add-post-button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.h1-post {
  font-size: 55px;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}


.post-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.post-username {
  font-weight: bold;
  margin-bottom: 5px;
}

.post-title {
  font-size: 18px;
  margin: 0 0 5px;
}

.post-description {
  margin-bottom: 5px;
}

.post-price,
.post-location,
.post-delivery {
  margin-bottom: 5px;
}

.message-form {
  margin-top: 10px;
}

.message-input {
  padding: 8px;
  width: 50%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.send-button {
  margin-top: 5px;
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.send-button:hover {
  background-color: #0056b3;
}

.input-container {
  width: 50%;
  margin: 0 auto;

}

.input-container input {
  width: 50%;
  padding: 8px;
  box-sizing: border-box;
}

.input-container input::placeholder {
  color: gray;
}